html {
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 3rem;
  background-color: #962323;
  color: #fff;
  padding: 1rem 0;
}

.header h1 {
  font-weight: 100;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.projects__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d24a4a;
  padding: 2rem 3rem;
  height: 100%;
}

.new__project__btn {
  font-size: 2.5rem;
  border: 0;
  background-color: transparent;
}

.projects__list {
  list-style: none;
}
